# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual environments
venv/
env/
hmi_venv/

# VSCode/IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Video and imagegs
*.mp4
*.mp3

service/audio_classification/yamnet_model/*
!service/audio_classification/yamnet_model/README.md